body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1976D2;
  color: white;
  margin-top: 50px;
}

#visualizer {
  width: 300px;
  height: 40px;
  background: #eee;
  margin: 20px auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.bar {
  height: 100%;
  width: 0%;
  background-color: green;
  transition: width 0.1s, background-color 0.2s;
}
